<h1 style="color: #17A2C1;font-weight:bold;padding:3%;text-align: center;">Our Trusted Supervisor </h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<ng-container *ngIf='isHidder'>
  <div class="login-form" style="background-color: #eeebeb;">
    <div class="topnav" style="margin: 3%;background-color: aliceblue;">
      <button class="active" class="btn" (click)="onboard(param='home')">Home</button>
      <button class="btn" (click)="onboard(param='add')">Add Task</button>
      <button class="btn" (click)="onboard(param='viewTask')">View Task</button>
      <button class="btn" (click)="onboard(param='report')">Report</button>
      <button class="btn btn-success" style="float: right;" (click)="onboard(param='logout')"><i class="fa fa-sign-out-alt red-color"></i></button>
    </div>
    <div style="margin: 3%;">
        <ng-container *ngIf="showView=='home'?true:false;">
            <section>
              <div class="rt-container">
                <div class="col-rt-12">
                  <div class="Scriptcontent">
                    <div class="student-profile py-4">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="card shadow-sm">
                              <div class="card-header bg-transparent text-center">
                                <img class="profile_img" src="../../assets/images/user.jpg" style="height: 250px;"
                                  alt="student dp">
                                <h3> {{userModal.name}}</h3>
                              </div>
                              <div class="card-body">
                                <p class="mb-0"><strong class="pr-1">Student ID:</strong>{{userModal.userId}}</p>
                                <!-- <p class="mb-0"><strong class="pr-1">Class:</strong>{{userModal.uid}}</p> -->
                                <p class="mb-0"><strong class="pr-1">Section:</strong>{{userModal.email}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-8 ">
                            <div class="card shadow-sm">
                              <div class="card-header bg-transparent border-0">
                                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                              </div>
                              <div class="card-body pt-0">
                                <table class="table table-bordered">
                                  <tr>
                                    <th width="30%">Roll ID</th>
                                    <td width="2%">:</td>
                                    <td>{{userModal.userId}}</td>
                                  </tr>
                                  <tr>
                                    <th width="30%">Designation</th>
                                    <td width="2%">:</td>
                                    <td>Supervisor</td>
                                  </tr>
    
                                  <tr>
                                    <th width="30%">Email</th>
                                    <td width="2%">:</td>
                                    <td>{{userModal.email}}</td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
    
                  </div>
                </div>
              </div>
            </section>
    
          </ng-container>
      <ng-container *ngIf="showView=='add'?true:false;">
         <!-- <div class="container" style="margin-left: 29%;margin-bottom: 29%;margin-right: 29%;">
        <div class="topnav login-form" style="margin: 3%;margin-left: 29%;background-color: aliceblue;">
            <h2>HI</h2>
          </div>
         </div> -->

          <app-task></app-task>
         
      </ng-container>
      <ng-container *ngIf="showView=='delete'?true:false;">
         
      </ng-container>
      <ng-container *ngIf="showView=='update'?true:false;">
        <h2>Update</h2>
      </ng-container>
      <ng-container class="row" *ngIf="showView=='viewTask'?true:false;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 left">
                    <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-fluid" alt="Responsive image" />
                        <div class="p-3 border-bottom">
                            <h6 class="font-weight-bold text-dark">Notifications</h6>
                            <p class="mb-0 text-muted">You’re all caught up! Check back later for new notifications</p>
                        </div>
                        <!-- <div class="p-3">
                            <button type="button" class="btn btn-outline-success btn-sm pl-4 pr-4">View settings</button>
                        </div> -->
                    </div>
                     
                </div>
                <div class="col-lg-9 right">
                     
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0">Earlier</h6>
                        </div>
                        <div class="box-body p-0">
                             
                            
                             
                            <div class="p-3 d-flex align-items-center border-bottom osahan-post-header" *ngFor='let freshTaskListItr of freshTaskList'>
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                                </div>
                                <div class="font-weight-bold mr-3">
                                    <div class="mb-2"><span class="font-weight-normal">{{freshTaskListItr.description}}</span> <p>Start Date:- {{freshTaskListItr.startDate  | date:'MM/dd/yyyy h:mm a'}} &nbsp;&nbsp;&nbsp;&nbsp;End Date:- {{freshTaskListItr.endDate  | date:'MM/dd/yyyy h:mm a'}}</p></div>
                                    <div class="mb-2"><span class="font-weight-normal">{{freshTaskListItr.name}}</span></div>

                                    <button type="button" class="btn btn-outline-info btn-sm" (click)="putstatuschanger(freshTaskListItr,1)">Accept</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="putstatuschanger(freshTaskListItr,-2)">Reject</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-outline-success btn-sm" (click)="putstatuschanger(freshTaskListItr,2)">Complete</button>

                                </div>
                                <span class="ml-auto mb-auto">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <button class="dropdown-item" type="button"><i class="mdi mdi-delete"></i> Delete</button>
                                            <button class="dropdown-item" type="button"><i class="mdi mdi-close"></i> Turn Off</button>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="text-right text-muted pt-1">4d</div>
                                </span>
                            </div>
                            <!-- <div class="p-3 d-flex align-items-center osahan-post-header">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
                                </div>
                                <div class="font-weight-bold mr-3">
                                    <div>
                                        <span class="font-weight-normal">Congratulate Mnadeep singh (iamgurdeeposahan)</span> for 4 years at Askbootsrap Pvt.
                                        <div class="small text-success"><i class="fa fa-check-circle"></i> You sent Mandeep a message</div>
                                    </div>
                                </div>
                                <span class="ml-auto mb-auto">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <button class="dropdown-item" type="button"><i class="mdi mdi-delete"></i> Delete</button>
                                            <button class="dropdown-item" type="button"><i class="mdi mdi-close"></i> Turn Off</button>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="text-right text-muted pt-1">4d</div>
                                </span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </ng-container>
      <ng-container *ngIf="showView=='report'?true:false;">
         
       </ng-container>
    </div>
  </div>
</ng-container>
 
<app-user [hidden]='isHidder' [givePermissionBySuper]="givePermission" [hideRegistration]="registrationHidder" (userSupervisorConfirmation)="ngAfterContentInit($event)"></app-user>
 