

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
 College Profile
<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="../../assets/images/unipune.jpg" style="width:90%" alt="student dp">
            <h3>University Of Pune</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">College ID:</strong>321000001</p>
            <p class="mb-0"><strong class="pr-1">City:</strong>Nashik</p>
            <p class="mb-0"><strong class="pr-1">Section:</strong>A</p>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
          <ng-container >
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">College No</th>
                <td width="2%">:</td>
                <td>125</td>
              </tr>
              <tr>
                <th width="30%">Academic Year	</th>
                <td width="2%">:</td>
                <td>2020</td>
              </tr>
              <tr>
                <th width="30%">Established</th>
                <td width="2%">:</td>
                <td>1997</td>
              </tr>
              <tr>
                <th width="30%">Location</th>
                <td width="2%">:</td>
                <td>Pune</td>
              </tr>
              <tr>
                <th width="30%">Pin Code</th>
                <td width="2%">:</td>
                <td>422012</td>
              </tr>
            </table>
          </div>
          </ng-container>
          <ng-container>
            <h2 *ngIf="deptStatus">Hello </h2>
          </ng-container>

        </div>

          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
              <p>The government scheme of ‘Earn while you learn’ is turning out to be a major draw for several college students who might have otherwise dropped out due to financial reasons.</p>
               
<p>Each student is paid Rs 100 on an hourly basis. So if a student works for an hour a day, he/she would be able to earn Rs 600 a week (Sunday is closed) which means Rs 2,400 in a month which students find attractive.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
            
    		</div>
		</div>
    </div>
</section>