<!-- <html><head>
</head>
 <body>
 
 <nav class="navbar">
   <div class="container">
 
     <div class="navbar-header">
       <button class="navbar-toggler" data-toggle="open-navbar1"></button>
         <a href="/user" class="navbar-brand">
             <img src="../../assets/images/earnlearnlogo.jpg" height="90" padding="0" alt="Earn & Learn System">
         </a>
     </div>
     <h2 style="color:rgb(236, 45, 45);margin-left: 5%;">Food Ordering System</h2>

 
     <div class="navbar-menu" id="open-navbar1">
       <ul class="navbar-nav">
         <li><a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">home</a></li> 
        
         <li><a class="nav-link" routerLink="/user" routerLinkActive="active">User</a></li>
         <li><a class="nav-link" routerLink="/college" routerLinkActive="active">College</a></li>
         <li><a class="nav-link" routerLink="/task" routerLinkActive="active">Task</a></li>
         <li><a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a></li>
         <li><a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>

       </ul>
     </div>
   </div>
 </nav>
 <router-outlet></router-outlet>
 </body></html> -->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to collge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </head>
<body>
   
   <div class="wrapper" style="background-image: url(../../assets/images/school.jpeg);background-size: contain; margin: 0px auto;">
<!--NAVIGATION-->
       <nav>
          <img src="../../assets/images/earnlearnlogo.png" class="img" alt="logo" > 
          <ul>
             
              <li><a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">home</a></li> 
        
              
              <li><a class="nav-link" routerLink="/college" routerLinkActive="active">College</a></li>
              <li><a class="nav-link" routerLink="/tasklist" routerLinkActive="active">Task List</a></li>
              <li><a class="nav-link" routerLink="/user/supervisor" routerLinkActive="active">Supervisor</a></li>
              <li><a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a></li>
              <!-- <li><a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li> -->
          </ul>
       </nav>
<!--END OF NAVIGATION-->
<label class="dropdown" style="float: right;margin-right: -450px;" >

  <div class="dd-button" style="width:136px;">
    Login
  </div>

  <input type="checkbox"  class="dd-input" id="test">

  <ul class="dd-menu" style="margin-right: 0%;">
    <li><button class="nav-link btn" routerLink="/user/student" >Student</button></li>
    <li><button class="nav-link btn" routerLink="/user/supervisor">Supervisor</button></li>
    <li class="divider"></li>
    <li>
      <button class="nav-link btn" routerLink="/admin">Admin</button></li>
  </ul>
  
</label>
      <div class="section">
          <h1>Education Through Self <br><sub>Social Student’s Welfare Scheme</sub> </h1>
          <p>Earn while learn programme provides opportunities to the students to earn while they are learning through part-time jobs.</p>
          
          <a href="#"><button class="btn-1">GET STARTED</button></a>
<!--FEATURES-->
         <div class="features">
             <button>Activities</button>
             <button>Payments</button>
             <button>Apply Now</button>
             <button>Help Desk</button>
         </div>
<!--END OF FEATURES-->
      </div>
<!--END OF SECTION-->
   </div>
<!--END OF WRAPPER-->
       <router-outlet></router-outlet>
      
</body>
</html>

 