body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper{
   min-height: 30rem;
}

nav{
  width: 100%;
  height: 80px;
  background-color: #0005;
  line-height: 80px;
}

nav ul{
  float: right;
  margin: 0;
  margin-right: 1.9rem;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 20px;
}

img{
  width: 14%;
  margin-left: 1.9rem;
  margin-top: -4%;
}

nav ul li:hover{
  background-color: coral;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  height: 80px;
}

.section{
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-top: 4%;
}

.section h1{
  color: #fff;
  line-height: 50px;
}

.section p{
  color: gray;
}

.btn-1{
  background-color: orangered;
  padding: 0.7rem 1rem;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.features{
  margin-top: 4%;
  margin-bottom: 2%;
}

.features button{
  padding: 0.7rem 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
  opacity: 0.7;
}

showcase h1{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

#courses{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.img{
  width: 200px;
  border-radius: 10px;
  margin-top: -27;
}

.apply{
  margin-top: 4%;
  background-color: orangered;
  padding: 0.7rem 1rem;
  color: #fff;
  border: none;
  border-radius: 10px;
}
.about{
  color: #4a4a4a;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 0;
    margin: 40px;
}


a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #222222
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}