<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<ng-container *ngIf='isHidder'>
  <div class="login-form">
    <div class="topnav" style="margin: 3%;background-color: aliceblue;">
      <button class="active" class="btn" (click)="onboard(param='home')">Home</button>
      <button class="btn" (click)="onboard(param='add')">Add Task</button>
      <button class="btn" (click)="onboard(param='viewTask')">View Task</button>
      <button class="btn" (click)="onboard(param='report')">Report</button>
      <button class="btn btn-success" style="float: right;" (click)="onboard(param='logout')"><i class="fa fa-sign-out-alt red-color"></i></button>
    </div>
    <div style="margin: 3%;">
      <ng-container *ngIf="showView=='home'?true:false;">
        <section>
          <div class="rt-container">
            <div class="col-rt-12">
              <div class="Scriptcontent">
                <div class="student-profile py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="card shadow-sm">
                          <div class="card-header bg-transparent text-center">
                            <img class="profile_img" src="../../assets/images/user.jpg" style="height: 250px;"
                              alt="student dp">
                            <h3> {{userModal.name}}</h3>
                          </div>
                          <div class="card-body">
                            <p class="mb-0"><strong class="pr-1">Student ID:</strong>{{userModal.userId}}</p>
                            <!-- <p class="mb-0"><strong class="pr-1">Class:</strong>{{userModal.uid}}</p> -->
                            <p class="mb-0"><strong class="pr-1">Section:</strong>{{userModal.email}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 ">
                        <div class="card shadow-sm">
                          <div class="card-header bg-transparent border-0">
                            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                          </div>
                          <div class="card-body pt-0">
                            <table class="table table-bordered">
                              <tr>
                                <th width="30%">Roll ID</th>
                                <td width="2%">:</td>
                                <td>{{userModal.userId}}</td>
                              </tr>
                              <tr>
                                <th width="30%">Designation</th>
                                <td width="2%">:</td>
                                <td>Student</td>
                              </tr>

                              <tr>
                                <th width="30%">Email</th>
                                <td width="2%">:</td>
                                <td>{{userModal.email}}</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>

      </ng-container>
      <ng-container *ngIf="showView=='add'?true:false;">

        <div style="margin-right: 35%;">
          <strong>Upcoming Task Details</strong>
          <div class="card-body login-form " *ngFor="let taskItem of  taskListBean,let i=index">
            <h3 class="card-title">{{taskItem.name}}</h3>
            <hr style="width: 100%;color: #000;">
            <div class="row">
              <p class="card-text col"  >Comment : {{taskItem.comment}}</p>&nbsp;&nbsp;&nbsp;
              <p class="card-text col">Quantity : {{taskItem.quantity}}</p>&nbsp;&nbsp;&nbsp;
              <button class="btn btn-info button-4 col" role="button" (click)="clickEvent(i)" style="float: right;">Details</button>
            </div>
            <div [hidden]="status" *ngIf="i==activeIndex">
              <p class="card-text" style="float: left;">{{taskItem.email}}</p>
              <p class="card-text">Start Date : {{taskItem.startDate | date:'MM/dd/yyyy h:mm a'}}</p>
              <p class="card-text">End Date : {{taskItem.endDate | date:'MM/dd/yyyy h:mm a'}}</p>
              <p class="card-text">Description : {{taskItem.description}}</p>
 
              <button class="btn btn-info"  (click)="getTaskDetail(taskItem)" name="submitTask">Add Task</button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="showView=='delete'?true:false;">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" style="background-color: aliceblue;"
        cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">Task ID</th>
                <th class="th-sm">Comment</th>
                <th class="th-sm">createdOn</th>
                <th class="th-sm">Description</th>
                <th class="th-sm">End Date</th>
                <th class="th-sm">Name</th>
                <th class="th-sm">Quantity</th>
                <th class="th-sm">Start Date</th>
                <th class="th-sm">Status</th>
                <th class="th-sm">Operation</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let taskItr of taskListByUser.taskList,let i=index">
                
                <td  >{{taskItr.tid}}</td>
                <td  >{{taskItr.comment}}</td>
                <td >{{taskItr.createdOn  | date:'MM/dd/yyyy h:mm a'}}</td>
                <td  >{{taskItr.description}}</td>
                <td  >{{taskItr.endDate | date:'MM/dd/yyyy h:mm a'}}</td>
                <td  >{{taskItr.name}}</td>
                <td  >{{taskItr.quantity}}</td>
                <td >{{taskItr.startDate | date:'MM/dd/yyyy h:mm a'}}</td>
                <td  >{{taskItr.status}}</td>
                 <td  ><button  class="btn" name="deleteBtn" (click)='deleteUser(taskItr,taskListBean.taskList,i)'><i class="fa fa-trash-alt"></i></button></td>
               
            </tr>
        </tbody>
        
    </table>
      </ng-container>
      <ng-container *ngIf="showView=='update'?true:false;">
        <h2>Update</h2>
      </ng-container>
      <ng-container class="row" *ngIf="showView=='viewTask'?true:false;">
        <h3 style="text-align: center;color: blueviolet;">All Today</h3>
        <div class="card-body login-form col" *ngFor="let taskItem of  listUserCurrentTask,let i=index">
          <div class="row">
          <h3 class="card-title col" style="padding: 2px;">{{taskItem.name}}</h3> 
          <h5 class="card-text col" style="padding: 2px;float: right;">{{taskItem.startDate | date:'h:mm a'}}</h5> 
          <div class="small text-success col" [hidden]="this.taskItem.status==2?false:true"><i class="fa fa-check-circle"></i>  Your Task Completed!..</div>

          </div>
          <hr style="width: 100%;color: #000;">
          <div class="row">
            <p class="card-text col"  >Comment : {{taskItem.comment}}</p>&nbsp;&nbsp;&nbsp;
            <p class="card-text col">Quantity : {{taskItem.quantity}}</p>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-info button-4 col" role="button" (click)="clickEvent(i)" style="float: right;">Details</button>
          </div>
          <div [hidden]="status" *ngIf="i==activeIndex">
            <p class="card-text" style="float: left;">{{taskItem.users.email}}</p>
            <p class="card-text">created Date : {{taskItem.createdOn}}</p>
            <p class="card-text">Modified Date : {{taskItem.modifiedOn}}</p>

            <button type="button" [hidden]="this.taskItem.status==2?true:false" [disabled]="this.taskItem.status==(1 || 3 || 2)?true:false"  class="btn btn-outline-info btn-sm" (click)="putstatusdata(taskItem,1)">Start Task</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" [hidden]="this.taskItem.status==2?true:false" [disabled]="this.taskItem.status==3?true:false" class="btn btn-outline-success btn-sm"  (click)="putstatusdata(taskItem,3)">End Task</button>
            <!-- <button type="button" class="btn btn-outline-danger btn-sm" (click)="putstatusdata(taskItem,1)" >Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp; -->
            <div class="small text-success" [hidden]="this.taskItem.status==2?false:true"><i class="fa fa-check-circle"></i>  Your Task Completed!..</div>

          </div>
        </div>
         
      </ng-container>
      <ng-container *ngIf="showView=='report'?true:false;">
        <!-- <form method="post" #form="ngForm">
          <h1>Report Details</h1>
         <div class="container">
            <div class="input-field">
               <input type="text" placeholder="Task ID" [(ngModel)]=reportList.user_id name="id" id="id" autocomplete="nope" [disabled]='true'>
             </div>
             <div *ngFor="let subtasklistItr of subtasklist" class="container login-form">
           <div class="input-field">
             <input type="text" placeholder="Task Transaction ID" [(ngModel)]=subtasklistItr.taskId name="transactionId" id="transactionId" autocomplete="nope" [disabled]='desiderReporter'>
           </div>
           <div class="input-field">
             <input type="text" placeholder="Task status" [(ngModel)]=subtasklistItr.name name="status" id="status" autocomplete="nope" [disabled]='desiderReporter'>
           </div>
           <div class="input-field">
            <input type="" placeholder="Task crated Date" [(ngModel)]=subtasklistItr.description name="cratedOn" id="comment" autocomplete="nope" [disabled]='desiderReporter'>
          </div>
            <div class="input-field">
             <input type="text" placeholder="Modified Date" [(ngModel)]=subtasklistItr.startDate name="modifiedOn" id="modifiedOn" autocomplete="new-password" [disabled]='desiderReporter'>
           </div>
            
            <div class="input-field">
             <input type="text" placeholder=" " [(ngModel)]=subtasklistItr.endDate name="cratedOn" id="comment" autocomplete="nope" [disabled]='desiderReporter'>
           </div>
           <div class="input-field">
            <input type="text" placeholder=" " [(ngModel)]=subtasklistItr.status name="cratedOn" id="comment" autocomplete="nope" [disabled]='desiderReporter'>
          </div>  
          <div class="input-field">
            <input type="tetxt" placeholder=" " [(ngModel)]=subtasklistItr.description name="cratedOn" id="comment" autocomplete="nope" [disabled]='desiderReporter'>
          </div><hr>
           </div> 
           <h2>Duration :- {{reportList.duration}}</h2>
          </div>
         
       </form>
         -->
         <app-payment></app-payment>
      </ng-container>
    </div>
  </div>
</ng-container>
 
<app-user [hidden]='isHidder' [givePermissionStudent]='givePermission' (userStudentConfirmation)="ngAfterContentInit($event)"></app-user>